src/pug/blog_detail.pug
extends components/layout

block content
  main.page-blog_detail

    section.breadcrumb-block
      .container
        .row
          .col
            nav.breadcrumb-wrap
              ol.breadcrumb
                li.breadcrumb-item
                  a(href='#') Главная
                li.breadcrumb-item
                  a(href='#') Блог
                li.breadcrumb-item.active Блог детальная

    section.blog-block
      .container
        .row
          .col
            .blog-tag
              .tag # Название тега 1
              .tag # Название тега 2
              .tag # Название тега N
            .blog-title
              | Заголовок блога детальная
            .blog-date
              | 15 февраля 2018
            .blog-row.row.justify-content-center
              .col-12
                .blog-subtitle
                  | Lorem ipsum dolor sit amet
              .col-xl-9.col-lg-10
                .blog-pic.img-wrap
                  img(src="img/pics/options_4.jpg")
              .col-xl-10
                .blog-text
                  | Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ad deserunt inventore laudantium
                  | nesciunt omnis quod ullam vel, velit voluptate voluptates! Amet dignissimos minus perferendis
                  | praesentium voluptatibus. A aliquid ea iure.
                .blog-text
                  | Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ad deserunt inventore laudantium
                  | nesciunt omnis quod ullam vel, velit voluptate voluptates! Amet dignissimos minus perferendis
                  | praesentium voluptatibus. A aliquid ea iure.
              .col-12
                .blog-subtitle
                  | Lorem ipsum dolor sit amet
              .col-xl-7.col-lg-9.col-md-10
                ul.blog-ul
                  li.blog-li
                    | Lorem 123212321
                  li.blog-li
                    | Lorem 123212321
                  li.blog-li
                    | Lorem 123212321
                  li.blog-li
                    | Lorem 123212321
                  li.blog-li
                    | Lorem 123212321
              .col-xl-9.col-lg-10
                .blog-pic.img-wrap
                  img(src="img/pics/options_4.jpg")
              .col-xl-10.col-lg-10
                .blog-btns
                  a.btn.blue-border(href="blog_detail.html") Подробнее
                  a.btn.blue-border(href="blog_detail.html") Ссылка 1
                  a.btn.blue-border(href="blog_detail.html") Подробнее
                  a.btn.blue-border(href="blog_detail.html") Другая страница 234
            .other-row.row
              .col-12.blog-title
                | Другие идеи, <br> которые могли бы вам понравиться
              .col-xl-4.col-lg-4.offset-lg-0.col-md-10.offset-md-1.col-12
                .blog-other
                  .blog-pic.img-wrap
                    img(src="img/pics/options_1.jpg")
                  .blog-subtitle
                    | Lorem ipsum dolor sit amet Lorem ipsum dolor sit amet
                  .blog-link
                    a(href="#")
                      | Узнать больше
                    svg(xmlns='http://www.w3.org/2000/svg', width='28.97', height='9', viewbox='0 0 28.97 9')
                      path.cls-1(data-name='Forma 1 copy', d='M1135.25,2554.13a0.459,0.459,0,0,1,.65,0,0.447,0.447,0,0,1,0,.64l-3.32,3.27h26.96a0.45,0.45,0,0,1,.46.45,0.459,0.459,0,0,1-.46.46h-26.96l3.32,3.27a0.447,0.447,0,0,1,0,.64,0.459,0.459,0,0,1-.65,0l-4.11-4.05a0.419,0.419,0,0,1,0-.63Z', transform='translate(-1131.03 -2554)')
              .col-xl-4.col-lg-4.offset-lg-0.col-md-10.offset-md-1.col-12
                .blog-other
                  .blog-pic.img-wrap
                    img(src="img/pics/options_2.jpg")
                  .blog-subtitle
                    | Lorem ipsum dolor sit amet Lorem ipsum dolor sit amet
                  .blog-link
                    a(href="#")
                      | Узнать больше
                    svg(xmlns='http://www.w3.org/2000/svg', width='28.97', height='9', viewbox='0 0 28.97 9')
                      path.cls-1(data-name='Forma 1 copy', d='M1135.25,2554.13a0.459,0.459,0,0,1,.65,0,0.447,0.447,0,0,1,0,.64l-3.32,3.27h26.96a0.45,0.45,0,0,1,.46.45,0.459,0.459,0,0,1-.46.46h-26.96l3.32,3.27a0.447,0.447,0,0,1,0,.64,0.459,0.459,0,0,1-.65,0l-4.11-4.05a0.419,0.419,0,0,1,0-.63Z', transform='translate(-1131.03 -2554)')
              .col-xl-4.col-lg-4.offset-lg-0.col-md-10.offset-md-1.col-12
                .blog-other
                  .blog-pic.img-wrap
                    img(src="img/pics/options_4.jpg")
                  .blog-subtitle
                    | Lorem ipsum dolor sit amet Lorem ipsum dolor sit amet
                  .blog-link
                    a(href="#")
                      | Узнать больше
                    svg(xmlns='http://www.w3.org/2000/svg', width='28.97', height='9', viewbox='0 0 28.97 9')
                      path.cls-1(data-name='Forma 1 copy', d='M1135.25,2554.13a0.459,0.459,0,0,1,.65,0,0.447,0.447,0,0,1,0,.64l-3.32,3.27h26.96a0.45,0.45,0,0,1,.46.45,0.459,0.459,0,0,1-.46.46h-26.96l3.32,3.27a0.447,0.447,0,0,1,0,.64,0.459,0.459,0,0,1-.65,0l-4.11-4.05a0.419,0.419,0,0,1,0-.63Z', transform='translate(-1131.03 -2554)')

prod/blog_detail.html
<!DOCTYPE html>
<html lang="ru">

<head>
	<meta charset="UTF-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="viewport" content="width=device-width, initial-scale=1, minimum-scale=1, shrink-to-fit=no">
	<meta name="description" content="">
	<meta name="keywords" content="">
	<link rel="shortcut icon" type="image/x-icon" href="img/global/favicon.ico">
	<link rel="apple-touch-icon" href="img/global/favicon.ico">
	<title>Test</title>
	<link rel="stylesheet" type="text/css" href="css/bootstrap.min.css">
	<link rel="stylesheet" type="text/css" href="css/preloader.css">
	<link rel="stylesheet" type="text/css" href="css/fonts.css">
	<link rel="stylesheet" type="text/css" href="css/main.css">
</head>

<body>
	<div id="preloader">
		<div class="preload-wrap">
			<div class="obj obj-1"></div>
			<div class="obj obj-2"></div>
			<div class="obj obj-3"></div>
			<div class="obj obj-4"></div>
		</div>
	</div>
	<header>
		<div class="container">
			<div class="row justify-content-between">
				<div class="col-auto">
					<div class="header-logo">
						<a class="header-logo-link" href="index.html"></a>
					</div>
				</div>
				<div class="col-auto">
					<div class="header-menu-btn"><span class="icon-bar"></span><span class="icon-bar"></span><span class="icon-bar"></span><span class="icon-bar"></span>
					</div>
				</div>
			</div>
			<div class="header-menu">
				<div class="overlay"></div>
				<div class="menu-wrap">
					<div class="menu-inner" id="header-scroll">
						<div class="menu-links-wrap">
							<div class="menu-links"><a class="menu-link" href="index.html">Главная</a>
							</div>
							<div class="menu-links">
								<div class="menu-cat">Стили</div><a class="menu-link" href="style.html">Скандинавский стиль</a><a class="menu-link" href="style.html">Классический стиль</a><a class="menu-link" href="style.html">Эко-стиль</a>
							</div>
							<div class="menu-links">
								<div class="menu-cat">Стоимость</div><a class="menu-link" href="calc.html">Калькулятор</a>
							</div>
							<div class="menu-links">
								<div class="menu-cat">О нас</div><a class="menu-link" href="principles.html">Принципы работы</a><a class="menu-link" href="contacts.html">Контакты</a><a class="menu-link" href="faq.html">Частые вопросы</a><a class="menu-link" href="gallery.html">Фотогалерея</a><a class="menu-link"
								href="blog.html">Блог</a>
							</div>
						</div>
						<div class="social-links-wrap">
							<div class="social-links">
								<div class="social-icon"><i class="mdi mdi-phone-in-talk"></i>
								</div><a class="social-link" href="tel:89991645421">+7 (999) 164-54-21</a>
							</div>
							<div class="social-links">
								<div class="social-icon"><i class="mdi mdi-email-outline"></i>
								</div><a class="social-link" href="mailto:info@info.ru">info@info.ru</a>
							</div>
							<div class="social-links-services"><a class="link" href="#"><i class="mdi mdi-vk"></i></a><a class="link" href="#"><i class="mdi mdi-pinterest"></i></a><a class="link" href="#"><i class="mdi mdi-instagram"></i></a><a class="link" href="#"><i class="mdi mdi-facebook"></i></a><a class="link"
								href="#"><i class="mdi mdi-youtube-play"></i></a>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</header>
	<main class="page-blog_detail">
		<section class="breadcrumb-block">
			<div class="container">
				<div class="row">
					<div class="col">
						<nav class="breadcrumb-wrap">
							<ol class="breadcrumb">
								<li class="breadcrumb-item"><a href="#">Главная</a>
								</li>
								<li class="breadcrumb-item"><a href="#">Блог</a>
								</li>
								<li class="breadcrumb-item active">Блог детальная</li>
							</ol>
						</nav>
					</div>
				</div>
			</div>
		</section>
		<section class="blog-block">
			<div class="container">
				<div class="row">
					<div class="col">
						<div class="blog-tag">
							<div class="tag"># Название тега 1</div>
							<div class="tag"># Название тега 2</div>
							<div class="tag"># Название тега N</div>
						</div>
						<div class="blog-title">Заголовок блога детальная</div>
						<div class="blog-date">15 февраля 2018</div>
						<div class="blog-row row justify-content-center">
							<div class="col-12">
								<div class="blog-subtitle">Lorem ipsum dolor sit amet</div>
							</div>
							<div class="col-xl-9 col-lg-10">
								<div class="blog-pic img-wrap">
									<img src="img/pics/options_4.jpg">
								</div>
							</div>
							<div class="col-xl-10">
								<div class="blog-text">
									Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ad deserunt inventore laudantium nesciunt omnis quod ullam vel, velit voluptate voluptates! Amet dignissimos minus perferendis praesentium voluptatibus. A aliquid ea iure.
								</div>
								<div class="blog-text">
									Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ad deserunt inventore laudantium nesciunt omnis quod ullam vel, velit voluptate voluptates! Amet dignissimos minus perferendis praesentium voluptatibus. A aliquid ea iure.
								</div>
							</div>
							<div class="col-12">
								<div class="blog-subtitle">Lorem ipsum dolor sit amet</div>
							</div>
							<div class="col-xl-7 col-lg-9 col-md-10">
								<ul class="blog-ul">
									<li class="blog-li">Lorem 123212321</li>
									<li class="blog-li">Lorem 123212321</li>
									<li class="blog-li">Lorem 123212321</li>
									<li class="blog-li">Lorem 123212321</li>
									<li class="blog-li">Lorem 123212321</li>
								</ul>
							</div>
							<div class="col-xl-9 col-lg-10">
								<div class="blog-pic img-wrap">
									<img src="img/pics/options_4.jpg">
								</div>
							</div>
							<div class="col-xl-10 col-lg-10">
								<div class="blog-btns"><a class="btn blue-border" href="blog_detail.html">Подробнее</a><a class="btn blue-border" href="blog_detail.html">Ссылка 1</a><a class="btn blue-border" href="blog_detail.html">Подробнее</a><a class="btn blue-border" href="blog_detail.html">Другая страница 234</a>
								</div>
							</div>
						</div>
						<div class="other-row row">
							<div class="col-12 blog-title">Другие идеи,
								<br>которые могли бы вам понравиться</div>
							<div class="col-xl-4 col-lg-4 offset-lg-0 col-md-10 offset-md-1 col-12">
								<div class="blog-other">
									<div class="blog-pic img-wrap">
										<img src="img/pics/options_1.jpg">
									</div>
									<div class="blog-subtitle">Lorem ipsum dolor sit amet Lorem ipsum dolor sit amet</div>
									<div class="blog-link"><a href="#">Узнать больше</a>
										<svg xmlns="http://www.w3.org/2000/svg" width="28.97" height="9" viewbox="0 0 28.97 9">
											<path class="cls-1" data-name="Forma 1 copy" d="M1135.25,2554.13a0.459,0.459,0,0,1,.65,0,0.447,0.447,0,0,1,0,.64l-3.32,3.27h26.96a0.45,0.45,0,0,1,.46.45,0.459,0.459,0,0,1-.46.46h-26.96l3.32,3.27a0.447,0.447,0,0,1,0,.64,0.459,0.459,0,0,1-.65,0l-4.11-4.05a0.419,0.419,0,0,1,0-.63Z"
											transform="translate(-1131.03 -2554)"></path>
										</svg>
									</div>
								</div>
							</div>
							<div class="col-xl-4 col-lg-4 offset-lg-0 col-md-10 offset-md-1 col-12">
								<div class="blog-other">
									<div class="blog-pic img-wrap">
										<img src="img/pics/options_2.jpg">
									</div>
									<div class="blog-subtitle">Lorem ipsum dolor sit amet Lorem ipsum dolor sit amet</div>
									<div class="blog-link"><a href="#">Узнать больше</a>
										<svg xmlns="http://www.w3.org/2000/svg" width="28.97" height="9" viewbox="0 0 28.97 9">
											<path class="cls-1" data-name="Forma 1 copy" d="M1135.25,2554.13a0.459,0.459,0,0,1,.65,0,0.447,0.447,0,0,1,0,.64l-3.32,3.27h26.96a0.45,0.45,0,0,1,.46.45,0.459,0.459,0,0,1-.46.46h-26.96l3.32,3.27a0.447,0.447,0,0,1,0,.64,0.459,0.459,0,0,1-.65,0l-4.11-4.05a0.419,0.419,0,0,1,0-.63Z"
											transform="translate(-1131.03 -2554)"></path>
										</svg>
									</div>
								</div>
							</div>
							<div class="col-xl-4 col-lg-4 offset-lg-0 col-md-10 offset-md-1 col-12">
								<div class="blog-other">
									<div class="blog-pic img-wrap">
										<img src="img/pics/options_4.jpg">
									</div>
									<div class="blog-subtitle">Lorem ipsum dolor sit amet Lorem ipsum dolor sit amet</div>
									<div class="blog-link"><a href="#">Узнать больше</a>
										<svg xmlns="http://www.w3.org/2000/svg" width="28.97" height="9" viewbox="0 0 28.97 9">
											<path class="cls-1" data-name="Forma 1 copy" d="M1135.25,2554.13a0.459,0.459,0,0,1,.65,0,0.447,0.447,0,0,1,0,.64l-3.32,3.27h26.96a0.45,0.45,0,0,1,.46.45,0.459,0.459,0,0,1-.46.46h-26.96l3.32,3.27a0.447,0.447,0,0,1,0,.64,0.459,0.459,0,0,1-.65,0l-4.11-4.05a0.419,0.419,0,0,1,0-.63Z"
											transform="translate(-1131.03 -2554)"></path>
										</svg>
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</section>
	</main>
	<footer>
		<div class="container">
			<div class="row">
				<div class="col-lg-3 col-12">
					<div class="footer-logo">
						<a class="footer-logo-link" href="index.html">
							<img src="img/pics/Logo_white.png">
						</a>
					</div>
					<div class="footer-about">Занимайтесь любыми делами,
						<br>а ремонт мы возьмём на себя.</div>
				</div>
				<div class="col-lg-2 col-md-3 col-sm-6">
					<div class="footer-links">
						<div class="footer-links-header">Стили</div><a class="footer-link" href="#">Скандинавский стиль</a><a class="footer-link" href="#">Классический стиль</a><a class="footer-link" href="#">Эко-стиль</a>
					</div>
				</div>
				<div class="col-lg-2 col-md-3 col-sm-6">
					<div class="footer-links">
						<div class="footer-links-header">О нас</div><a class="footer-link" href="#">Принципы работы</a><a class="footer-link" href="#">Контакты</a><a class="footer-link" href="#">Частые вопросы</a><a class="footer-link" href="#">Фотогалерея</a><a class="footer-link" href="#">Блог</a>
					</div>
				</div>
				<div class="col-lg-2 col-md-2 col-sm-6">
					<div class="footer-links">
						<div class="footer-links-header">Стоимость</div><a class="footer-link" href="#">Калькулятор</a>
					</div>
				</div>
				<div class="col-lg-3 col-md-4 col-sm-6">
					<div class="footer-social">
						<div class="social-wrap">
							<div class="social-icon"><i class="mdi mdi-forum-outline"></i>
							</div><a class="social-link" href="tel:89991645421">+7 (999) 164-54-21</a>
						</div>
						<div class="social-wrap">
							<div class="social-icon"><i class="mdi mdi-email-outline"></i>
							</div><a class="social-link" href="mailto:info@info.ru">info@info.ru</a>
						</div>
						<div class="social-wrap">
							<div class="social-icon"><i class="mdi mdi-map-marker"></i>
							</div>
							<div class="social-link">Нижний Новгород,
								<br>ул. Пушкина, д.666</div>
						</div>
						<div class="social-links"><a class="link" href="#"><i class="mdi mdi-vk"></i></a><a class="link" href="#"><i class="mdi mdi-pinterest"></i></a><a class="link" href="#"><i class="mdi mdi-instagram"></i></a><a class="link" href="#"><i class="mdi mdi-facebook"></i></a><a class="link"
							href="#"><i class="mdi mdi-youtube-play"></i></a>
						</div>
					</div>
				</div>
			</div>
		</div>
	</footer>
	<script type="text/javascript" src="js/jquery.min.js"></script>
	<script type="text/javascript" src="js/bootstrap.min.js"></script>
	<script type="text/javascript" src="js/imgLiquid-min.js"></script>
	<script type="text/javascript" src="js/perfect-scrollbar.min.js"></script>
	<script type="text/javascript" src="js/jquery.dotdotdot.js"></script>
	<script type="text/javascript" src="js/main.js"></script>
	<script type="text/javascript" src="js/custom.js"></script>
</body>

</html>
