src/pug/contacts.pug
extends components/layout

append scripts
  script(type='text/javascript', src='js/maskedinput.min.js')

block content
  main.page-contacts

    section.title-block
      .container
        .row
          .col
            .block-title
              | Контакты
        .row
          .col
            .block-title-text
              | Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ad cumque, ea error facere molestiae nam
              | qui repellat sunt? Assumenda aut dolores exercitationem modi porro! A dolores minima natus necessitatibus voluptas.

    section.contact-block
      .container
        .row
          .col-xl-4.offset-xl-1.col-lg-5.col-md-6.col-12
            form.contact-form
              .row
                .col-12
                  .form-text
                    | Lorem ipsum dolor sit amet, consectetur adipisicing elit. Aperiam assumenda, beatae eaque
                    | exercitationem illum nobis officia ratione!
                .col-12
                  .input-group
                    .input-group-prepend
                      .input-group-text
                        i.mdi.mdi-account-outline
                    input.form-control(type='text', placeholder='Имя')
                .col-12
                  .input-group
                    .input-group-prepend
                      .input-group-text
                        i.mdi.mdi-phone-in-talk
                    input#inputPhone.form-control(type='tel', placeholder='Телефон')
                .col-12
                  .input-group
                    .input-group-prepend
                      .input-group-text
                        i.mdi.mdi-email-outline
                    textarea.form-control.comment(rows='9', placeholder='Сообщение')
                .col-12
                  .btn-wrap.text-center
                    .btn.blue-border Оформить заявку

          .col-xl-3.offset-xl-3.col-lg-4.offset-lg-2.col-md-5.offset-md-1.col-12
            .social-links-wrap
              .social-links
                .social-icon
                  i.mdi.mdi-map-marker
                .social-link
                  | Нижний Новгород,
                  br
                  | ул. Пушкина, д.666
              .social-links
                .social-icon
                  i.mdi.mdi-forum-outline
                a.social-link(href="tel:89991645421") +7 (999) 164-54-21
              .social-links
                .social-icon
                  i.mdi.mdi-email-outline
                a.social-link(href="mailto:info@info.ru") info@info.ru
              .social-links-services
                a.link(href="#")
                  i.mdi.mdi-vk
                a.link(href="#")
                  i.mdi.mdi-pinterest
                a.link(href="#")
                  i.mdi.mdi-instagram
                a.link(href="#")
                  i.mdi.mdi-facebook
                a.link(href="#")
                  i.mdi.mdi-youtube-play

prod/contacts.html
<!DOCTYPE html>
<html lang="ru">

<head>
	<meta charset="UTF-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="viewport" content="width=device-width, initial-scale=1, minimum-scale=1, shrink-to-fit=no">
	<meta name="description" content="">
	<meta name="keywords" content="">
	<link rel="shortcut icon" type="image/x-icon" href="img/global/favicon.ico">
	<link rel="apple-touch-icon" href="img/global/favicon.ico">
	<title>Test</title>
	<link rel="stylesheet" type="text/css" href="css/bootstrap.min.css">
	<link rel="stylesheet" type="text/css" href="css/preloader.css">
	<link rel="stylesheet" type="text/css" href="css/fonts.css">
	<link rel="stylesheet" type="text/css" href="css/main.css">
</head>

<body>
	<div id="preloader">
		<div class="preload-wrap">
			<div class="obj obj-1"></div>
			<div class="obj obj-2"></div>
			<div class="obj obj-3"></div>
			<div class="obj obj-4"></div>
		</div>
	</div>
	<header>
		<div class="container">
			<div class="row justify-content-between">
				<div class="col-auto">
					<div class="header-logo">
						<a class="header-logo-link" href="index.html"></a>
					</div>
				</div>
				<div class="col-auto">
					<div class="header-menu-btn"><span class="icon-bar"></span><span class="icon-bar"></span><span class="icon-bar"></span><span class="icon-bar"></span>
					</div>
				</div>
			</div>
			<div class="header-menu">
				<div class="overlay"></div>
				<div class="menu-wrap">
					<div class="menu-inner" id="header-scroll">
						<div class="menu-links-wrap">
							<div class="menu-links"><a class="menu-link" href="index.html">Главная</a>
							</div>
							<div class="menu-links">
								<div class="menu-cat">Стили</div><a class="menu-link" href="style.html">Скандинавский стиль</a><a class="menu-link" href="style.html">Классический стиль</a><a class="menu-link" href="style.html">Эко-стиль</a>
							</div>
							<div class="menu-links">
								<div class="menu-cat">Стоимость</div><a class="menu-link" href="calc.html">Калькулятор</a>
							</div>
							<div class="menu-links">
								<div class="menu-cat">О нас</div><a class="menu-link" href="principles.html">Принципы работы</a><a class="menu-link" href="contacts.html">Контакты</a><a class="menu-link" href="faq.html">Частые вопросы</a><a class="menu-link" href="gallery.html">Фотогалерея</a><a class="menu-link"
								href="blog.html">Блог</a>
							</div>
						</div>
						<div class="social-links-wrap">
							<div class="social-links">
								<div class="social-icon"><i class="mdi mdi-phone-in-talk"></i>
								</div><a class="social-link" href="tel:89991645421">+7 (999) 164-54-21</a>
							</div>
							<div class="social-links">
								<div class="social-icon"><i class="mdi mdi-email-outline"></i>
								</div><a class="social-link" href="mailto:info@info.ru">info@info.ru</a>
							</div>
							<div class="social-links-services"><a class="link" href="#"><i class="mdi mdi-vk"></i></a><a class="link" href="#"><i class="mdi mdi-pinterest"></i></a><a class="link" href="#"><i class="mdi mdi-instagram"></i></a><a class="link" href="#"><i class="mdi mdi-facebook"></i></a><a class="link"
								href="#"><i class="mdi mdi-youtube-play"></i></a>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</header>
	<main class="page-contacts">
		<section class="title-block">
			<div class="container">
				<div class="row">
					<div class="col">
						<div class="block-title">Контакты</div>
					</div>
				</div>
				<div class="row">
					<div class="col">
						<div class="block-title-text">
							Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ad cumque, ea error facere molestiae nam qui repellat sunt? Assumenda aut dolores exercitationem modi porro! A dolores minima natus necessitatibus voluptas.
						</div>
					</div>
				</div>
			</div>
		</section>
		<section class="contact-block">
			<div class="container">
				<div class="row">
					<div class="col-xl-4 offset-xl-1 col-lg-5 col-md-6 col-12">
						<form class="contact-form">
							<div class="row">
								<div class="col-12">
									<div class="form-text">
										Lorem ipsum dolor sit amet, consectetur adipisicing elit. Aperiam assumenda, beatae eaque exercitationem illum nobis officia ratione!
									</div>
								</div>
								<div class="col-12">
									<div class="input-group">
										<div class="input-group-prepend">
											<div class="input-group-text"><i class="mdi mdi-account-outline"></i>
											</div>
										</div>
										<input class="form-control" type="text" placeholder="Имя">
									</div>
								</div>
								<div class="col-12">
									<div class="input-group">
										<div class="input-group-prepend">
											<div class="input-group-text"><i class="mdi mdi-phone-in-talk"></i>
											</div>
										</div>
										<input class="form-control" id="inputPhone" type="tel" placeholder="Телефон">
									</div>
								</div>
								<div class="col-12">
									<div class="input-group">
										<div class="input-group-prepend">
											<div class="input-group-text"><i class="mdi mdi-email-outline"></i>
											</div>
										</div>
										<textarea class="form-control comment" rows="9" placeholder="Сообщение"></textarea>
									</div>
								</div>
								<div class="col-12">
									<div class="btn-wrap text-center">
										<div class="btn blue-border">Оформить заявку</div>
									</div>
								</div>
							</div>
						</form>
					</div>
					<div class="col-xl-3 offset-xl-3 col-lg-4 offset-lg-2 col-md-5 offset-md-1 col-12">
						<div class="social-links-wrap">
							<div class="social-links">
								<div class="social-icon"><i class="mdi mdi-map-marker"></i>
								</div>
								<div class="social-link">Нижний Новгород,
									<br>ул. Пушкина, д.666</div>
							</div>
							<div class="social-links">
								<div class="social-icon"><i class="mdi mdi-forum-outline"></i>
								</div><a class="social-link" href="tel:89991645421">+7 (999) 164-54-21</a>
							</div>
							<div class="social-links">
								<div class="social-icon"><i class="mdi mdi-email-outline"></i>
								</div><a class="social-link" href="mailto:info@info.ru">info@info.ru</a>
							</div>
							<div class="social-links-services"><a class="link" href="#"><i class="mdi mdi-vk"></i></a><a class="link" href="#"><i class="mdi mdi-pinterest"></i></a><a class="link" href="#"><i class="mdi mdi-instagram"></i></a><a class="link" href="#"><i class="mdi mdi-facebook"></i></a><a class="link"
								href="#"><i class="mdi mdi-youtube-play"></i></a>
							</div>
						</div>
					</div>
				</div>
			</div>
		</section>
	</main>
	<footer>
		<div class="container">
			<div class="row">
				<div class="col-lg-3 col-12">
					<div class="footer-logo">
						<a class="footer-logo-link" href="index.html">
							<img src="img/pics/Logo_white.png">
						</a>
					</div>
					<div class="footer-about">Занимайтесь любыми делами,
						<br>а ремонт мы возьмём на себя.</div>
				</div>
				<div class="col-lg-2 col-md-3 col-sm-6">
					<div class="footer-links">
						<div class="footer-links-header">Стили</div><a class="footer-link" href="#">Скандинавский стиль</a><a class="footer-link" href="#">Классический стиль</a><a class="footer-link" href="#">Эко-стиль</a>
					</div>
				</div>
				<div class="col-lg-2 col-md-3 col-sm-6">
					<div class="footer-links">
						<div class="footer-links-header">О нас</div><a class="footer-link" href="#">Принципы работы</a><a class="footer-link" href="#">Контакты</a><a class="footer-link" href="#">Частые вопросы</a><a class="footer-link" href="#">Фотогалерея</a><a class="footer-link" href="#">Блог</a>
					</div>
				</div>
				<div class="col-lg-2 col-md-2 col-sm-6">
					<div class="footer-links">
						<div class="footer-links-header">Стоимость</div><a class="footer-link" href="#">Калькулятор</a>
					</div>
				</div>
				<div class="col-lg-3 col-md-4 col-sm-6">
					<div class="footer-social">
						<div class="social-wrap">
							<div class="social-icon"><i class="mdi mdi-forum-outline"></i>
							</div><a class="social-link" href="tel:89991645421">+7 (999) 164-54-21</a>
						</div>
						<div class="social-wrap">
							<div class="social-icon"><i class="mdi mdi-email-outline"></i>
							</div><a class="social-link" href="mailto:info@info.ru">info@info.ru</a>
						</div>
						<div class="social-wrap">
							<div class="social-icon"><i class="mdi mdi-map-marker"></i>
							</div>
							<div class="social-link">Нижний Новгород,
								<br>ул. Пушкина, д.666</div>
						</div>
						<div class="social-links"><a class="link" href="#"><i class="mdi mdi-vk"></i></a><a class="link" href="#"><i class="mdi mdi-pinterest"></i></a><a class="link" href="#"><i class="mdi mdi-instagram"></i></a><a class="link" href="#"><i class="mdi mdi-facebook"></i></a><a class="link"
							href="#"><i class="mdi mdi-youtube-play"></i></a>
						</div>
					</div>
				</div>
			</div>
		</div>
	</footer>
	<script type="text/javascript" src="js/jquery.min.js"></script>
	<script type="text/javascript" src="js/bootstrap.min.js"></script>
	<script type="text/javascript" src="js/imgLiquid-min.js"></script>
	<script type="text/javascript" src="js/perfect-scrollbar.min.js"></script>
	<script type="text/javascript" src="js/jquery.dotdotdot.js"></script>
	<script type="text/javascript" src="js/maskedinput.min.js"></script>
	<script type="text/javascript" src="js/main.js"></script>
	<script type="text/javascript" src="js/custom.js"></script>
</body>

</html>
