src/pug/faq.pug
extends components/layout

block content
  main.page-faq

    section.faq-block
      .container
        .row
          .col
            .block-title
              | Часто задаваемые вопросы
        .row.justify-content-center
          .col-xl-10
            #accordion.accordion
              .faq-wrap
                .faq-title
                  .faq-btn(data-toggle='collapse', data-target='#collapse1')
                    | Collapsible Group Item #1
                #collapse1.collapse.show(data-parent='#accordion')
                  .faq-text
                    | Anim pariatur cliche reprehenderit, enim eiusmod high life accusamus terry richardson ad squid. 3 wolf moon officia aute, non cupidatat skateboard dolor brunch. Food truck quinoa nesciunt laborum eiusmod. Brunch 3 wolf moon tempor, sunt aliqua put a bird on it squid single-origin coffee nulla assumenda shoreditch et. Nihil anim keffiyeh helvetica, craft beer labore wes anderson cred nesciunt sapiente ea proident. Ad vegan excepteur butcher vice lomo. Leggings occaecat craft beer farm-to-table, raw denim aesthetic synth nesciunt you probably haven't heard of them accusamus labore sustainable VHS.

              .faq-wrap
                .faq-title
                  .faq-btn.collapsed(data-toggle='collapse', data-target='#collapse2')
                    | Collapsible Group Item #2
                #collapse2.collapse(data-parent='#accordion')
                  .faq-text
                    | Anim pariatur cliche reprehenderit, enim eiusmod high life accusamus terry richardson ad squid. 3 wolf moon officia aute, non cupidatat skateboard dolor brunch. Food truck quinoa nesciunt laborum eiusmod. Brunch 3 wolf moon tempor, sunt aliqua put a bird on it squid single-origin coffee nulla assumenda shoreditch et. Nihil anim keffiyeh helvetica, craft beer labore wes anderson cred nesciunt sapiente ea proident. Ad vegan excepteur butcher vice lomo. Leggings occaecat craft beer farm-to-table, raw denim aesthetic synth nesciunt you probably haven't heard of them accusamus labore sustainable VHS.

              .faq-wrap
                .faq-title
                  .faq-btn.collapsed(data-toggle='collapse', data-target='#collapse3')
                    | Collapsible Group Item #3
                #collapse3.collapse(data-parent='#accordion')
                  .faq-text
                    | Anim pariatur cliche reprehenderit, enim eiusmod high life accusamus terry richardson ad squid. 3 wolf moon officia aute, non cupidatat skateboard dolor brunch. Food truck quinoa nesciunt laborum eiusmod. Brunch 3 wolf moon tempor, sunt aliqua put a bird on it squid single-origin coffee nulla assumenda shoreditch et. Nihil anim keffiyeh helvetica, craft beer labore wes anderson cred nesciunt sapiente ea proident. Ad vegan excepteur butcher vice lomo. Leggings occaecat craft beer farm-to-table, raw denim aesthetic synth nesciunt you probably haven't heard of them accusamus labore sustainable VHS.

prod/faq.html
<!DOCTYPE html>
<html lang="ru">

<head>
	<meta charset="UTF-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="viewport" content="width=device-width, initial-scale=1, minimum-scale=1, shrink-to-fit=no">
	<meta name="description" content="">
	<meta name="keywords" content="">
	<link rel="shortcut icon" type="image/x-icon" href="img/global/favicon.ico">
	<link rel="apple-touch-icon" href="img/global/favicon.ico">
	<title>Test</title>
	<link rel="stylesheet" type="text/css" href="css/bootstrap.min.css">
	<link rel="stylesheet" type="text/css" href="css/preloader.css">
	<link rel="stylesheet" type="text/css" href="css/fonts.css">
	<link rel="stylesheet" type="text/css" href="css/main.css">
</head>

<body>
	<div id="preloader">
		<div class="preload-wrap">
			<div class="obj obj-1"></div>
			<div class="obj obj-2"></div>
			<div class="obj obj-3"></div>
			<div class="obj obj-4"></div>
		</div>
	</div>
	<header>
		<div class="container">
			<div class="row justify-content-between">
				<div class="col-auto">
					<div class="header-logo">
						<a class="header-logo-link" href="index.html"></a>
					</div>
				</div>
				<div class="col-auto">
					<div class="header-menu-btn"><span class="icon-bar"></span><span class="icon-bar"></span><span class="icon-bar"></span><span class="icon-bar"></span>
					</div>
				</div>
			</div>
			<div class="header-menu">
				<div class="overlay"></div>
				<div class="menu-wrap">
					<div class="menu-inner" id="header-scroll">
						<div class="menu-links-wrap">
							<div class="menu-links"><a class="menu-link" href="index.html">Главная</a>
							</div>
							<div class="menu-links">
								<div class="menu-cat">Стили</div><a class="menu-link" href="style.html">Скандинавский стиль</a><a class="menu-link" href="style.html">Классический стиль</a><a class="menu-link" href="style.html">Эко-стиль</a>
							</div>
							<div class="menu-links">
								<div class="menu-cat">Стоимость</div><a class="menu-link" href="calc.html">Калькулятор</a>
							</div>
							<div class="menu-links">
								<div class="menu-cat">О нас</div><a class="menu-link" href="principles.html">Принципы работы</a><a class="menu-link" href="contacts.html">Контакты</a><a class="menu-link" href="faq.html">Частые вопросы</a><a class="menu-link" href="gallery.html">Фотогалерея</a><a class="menu-link"
								href="blog.html">Блог</a>
							</div>
						</div>
						<div class="social-links-wrap">
							<div class="social-links">
								<div class="social-icon"><i class="mdi mdi-phone-in-talk"></i>
								</div><a class="social-link" href="tel:89991645421">+7 (999) 164-54-21</a>
							</div>
							<div class="social-links">
								<div class="social-icon"><i class="mdi mdi-email-outline"></i>
								</div><a class="social-link" href="mailto:info@info.ru">info@info.ru</a>
							</div>
							<div class="social-links-services"><a class="link" href="#"><i class="mdi mdi-vk"></i></a><a class="link" href="#"><i class="mdi mdi-pinterest"></i></a><a class="link" href="#"><i class="mdi mdi-instagram"></i></a><a class="link" href="#"><i class="mdi mdi-facebook"></i></a><a class="link"
								href="#"><i class="mdi mdi-youtube-play"></i></a>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</header>
	<main class="page-faq">
		<section class="faq-block">
			<div class="container">
				<div class="row">
					<div class="col">
						<div class="block-title">Часто задаваемые вопросы</div>
					</div>
				</div>
				<div class="row justify-content-center">
					<div class="col-xl-10">
						<div class="accordion" id="accordion">
							<div class="faq-wrap">
								<div class="faq-title">
									<div class="faq-btn" data-toggle="collapse" data-target="#collapse1">Collapsible Group Item #1</div>
								</div>
								<div class="collapse show" id="collapse1" data-parent="#accordion">
									<div class="faq-text">Anim pariatur cliche reprehenderit, enim eiusmod high life accusamus terry richardson ad squid. 3 wolf moon officia aute, non cupidatat skateboard dolor brunch. Food truck quinoa nesciunt laborum eiusmod. Brunch 3 wolf moon tempor, sunt aliqua
										put a bird on it squid single-origin coffee nulla assumenda shoreditch et. Nihil anim keffiyeh helvetica, craft beer labore wes anderson cred nesciunt sapiente ea proident. Ad vegan excepteur butcher vice lomo. Leggings occaecat craft beer farm-to-table,
										raw denim aesthetic synth nesciunt you probably haven't heard of them accusamus labore sustainable VHS.</div>
								</div>
							</div>
							<div class="faq-wrap">
								<div class="faq-title">
									<div class="faq-btn collapsed" data-toggle="collapse" data-target="#collapse2">Collapsible Group Item #2</div>
								</div>
								<div class="collapse" id="collapse2" data-parent="#accordion">
									<div class="faq-text">Anim pariatur cliche reprehenderit, enim eiusmod high life accusamus terry richardson ad squid. 3 wolf moon officia aute, non cupidatat skateboard dolor brunch. Food truck quinoa nesciunt laborum eiusmod. Brunch 3 wolf moon tempor, sunt aliqua
										put a bird on it squid single-origin coffee nulla assumenda shoreditch et. Nihil anim keffiyeh helvetica, craft beer labore wes anderson cred nesciunt sapiente ea proident. Ad vegan excepteur butcher vice lomo. Leggings occaecat craft beer farm-to-table,
										raw denim aesthetic synth nesciunt you probably haven't heard of them accusamus labore sustainable VHS.</div>
								</div>
							</div>
							<div class="faq-wrap">
								<div class="faq-title">
									<div class="faq-btn collapsed" data-toggle="collapse" data-target="#collapse3">Collapsible Group Item #3</div>
								</div>
								<div class="collapse" id="collapse3" data-parent="#accordion">
									<div class="faq-text">Anim pariatur cliche reprehenderit, enim eiusmod high life accusamus terry richardson ad squid. 3 wolf moon officia aute, non cupidatat skateboard dolor brunch. Food truck quinoa nesciunt laborum eiusmod. Brunch 3 wolf moon tempor, sunt aliqua
										put a bird on it squid single-origin coffee nulla assumenda shoreditch et. Nihil anim keffiyeh helvetica, craft beer labore wes anderson cred nesciunt sapiente ea proident. Ad vegan excepteur butcher vice lomo. Leggings occaecat craft beer farm-to-table,
										raw denim aesthetic synth nesciunt you probably haven't heard of them accusamus labore sustainable VHS.</div>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</section>
	</main>
	<footer>
		<div class="container">
			<div class="row">
				<div class="col-lg-3 col-12">
					<div class="footer-logo">
						<a class="footer-logo-link" href="index.html">
							<img src="img/pics/Logo_white.png">
						</a>
					</div>
					<div class="footer-about">Занимайтесь любыми делами,
						<br>а ремонт мы возьмём на себя.</div>
				</div>
				<div class="col-lg-2 col-md-3 col-sm-6">
					<div class="footer-links">
						<div class="footer-links-header">Стили</div><a class="footer-link" href="#">Скандинавский стиль</a><a class="footer-link" href="#">Классический стиль</a><a class="footer-link" href="#">Эко-стиль</a>
					</div>
				</div>
				<div class="col-lg-2 col-md-3 col-sm-6">
					<div class="footer-links">
						<div class="footer-links-header">О нас</div><a class="footer-link" href="#">Принципы работы</a><a class="footer-link" href="#">Контакты</a><a class="footer-link" href="#">Частые вопросы</a><a class="footer-link" href="#">Фотогалерея</a><a class="footer-link" href="#">Блог</a>
					</div>
				</div>
				<div class="col-lg-2 col-md-2 col-sm-6">
					<div class="footer-links">
						<div class="footer-links-header">Стоимость</div><a class="footer-link" href="#">Калькулятор</a>
					</div>
				</div>
				<div class="col-lg-3 col-md-4 col-sm-6">
					<div class="footer-social">
						<div class="social-wrap">
							<div class="social-icon"><i class="mdi mdi-forum-outline"></i>
							</div><a class="social-link" href="tel:89991645421">+7 (999) 164-54-21</a>
						</div>
						<div class="social-wrap">
							<div class="social-icon"><i class="mdi mdi-email-outline"></i>
							</div><a class="social-link" href="mailto:info@info.ru">info@info.ru</a>
						</div>
						<div class="social-wrap">
							<div class="social-icon"><i class="mdi mdi-map-marker"></i>
							</div>
							<div class="social-link">Нижний Новгород,
								<br>ул. Пушкина, д.666</div>
						</div>
						<div class="social-links"><a class="link" href="#"><i class="mdi mdi-vk"></i></a><a class="link" href="#"><i class="mdi mdi-pinterest"></i></a><a class="link" href="#"><i class="mdi mdi-instagram"></i></a><a class="link" href="#"><i class="mdi mdi-facebook"></i></a><a class="link"
							href="#"><i class="mdi mdi-youtube-play"></i></a>
						</div>
					</div>
				</div>
			</div>
		</div>
	</footer>
	<script type="text/javascript" src="js/jquery.min.js"></script>
	<script type="text/javascript" src="js/bootstrap.min.js"></script>
	<script type="text/javascript" src="js/imgLiquid-min.js"></script>
	<script type="text/javascript" src="js/perfect-scrollbar.min.js"></script>
	<script type="text/javascript" src="js/jquery.dotdotdot.js"></script>
	<script type="text/javascript" src="js/main.js"></script>
	<script type="text/javascript" src="js/custom.js"></script>
</body>

</html>
