src/pug/gallery.pug
extends components/layout

append head
  link(rel='stylesheet', type='text/css', href='css/jquery.fancybox.min.css')
append scripts
  script(type='text/javascript', src='js/masonry.min.js')
  script(type='text/javascript', src='js/jquery.fancybox.min.js')

block content
  main.page-gallery

    section.breadcrumb-block
      .container
        .row
          .col
            nav.breadcrumb-wrap
              ol.breadcrumb
                li.breadcrumb-item
                  a(href='#') Главная
                li.breadcrumb-item.active Галерея

    section.gallery-block
      .container
        .row
          .col
            .block-title
              | Галерея
        .row
          .col
            .gallery-desc
              p
                | Lorem ipsum dolor sit amet, consectetur adipisicing elit. Alias aliquid beatae ea enim, error et in
                | laudantium praesentium repudiandae sed! Dolorum, facere, molestias. A cupiditate ducimus porro
                | reiciendis saepe totam?
        .row.grid
          .col-lg-3.col-md-4.col-sm-6.col-12.item-grid.grid-sizer
            a.gallery-img-link(href="img/pics/apartment_1.jpg", data-fancybox="images")
              img.gallery-img(src="img/pics/apartment_1.jpg")
          .col-lg-3.col-md-4.col-sm-6.col-12.item-grid
            a.gallery-img-link(href="img/pics/apartment_2.jpg", data-fancybox="images")
              img.gallery-img(src="img/pics/apartment_2.jpg")
          .col-lg-3.col-md-4.col-sm-6.col-12.item-grid
            a.gallery-img-link(href="img/pics/apartment_3.jpg", data-fancybox="images")
              img.gallery-img(src="img/pics/apartment_3.jpg")
          .col-lg-3.col-md-4.col-sm-6.col-12.item-grid
            a.gallery-img-link(href="img/pics/apartment_4.jpg", data-fancybox="images")
              img.gallery-img(src="img/pics/apartment_4.jpg")
          .col-lg-3.col-md-4.col-sm-6.col-12.item-grid
            a.gallery-img-link(href="img/pics/img_1.jpg", data-fancybox="images")
              img.gallery-img(src="img/pics/img_1.jpg")
          .col-lg-3.col-md-4.col-sm-6.col-12.item-grid
            a.gallery-img-link(href="img/pics/img_2.jpg", data-fancybox="images")
              img.gallery-img(src="img/pics/img_2.jpg")
          .col-lg-3.col-md-4.col-sm-6.col-12.item-grid
            a.gallery-img-link(href="img/pics/img_3.jpg", data-fancybox="images")
              img.gallery-img(src="img/pics/img_3.jpg")
          .col-lg-3.col-md-4.col-sm-6.col-12.item-grid
            a.gallery-img-link(href="img/pics/bg.jpg", data-fancybox="images")
              img.gallery-img(src="img/pics/bg.jpg")
          .col-lg-3.col-md-4.col-sm-6.col-12.item-grid
            a.gallery-img-link(href="img/pics/apartment_4.jpg", data-fancybox="images")
              img.gallery-img(src="img/pics/apartment_4.jpg")

    section.pagination-block
      .container
        .row
          .col
            nav.pagination-wrap
              ul.pagination
                li.page-item.disabled
                  a.page-link(href='#')
                    span
                      i.mdi.mdi-chevron-double-left
                li.page-item.disabled
                  a.page-link(href='#')
                    span
                      i.mdi.mdi-chevron-left
                li.page-item.active
                  a.page-link(href='#') 1
                li.page-item
                  a.page-link(href='#') 2
                li.page-item.disabled
                  a.page-link(href='#') ...
                li.page-item
                  a.page-link(href='#') 99
                li.page-item
                  a.page-link(href='#')
                    span
                      i.mdi.mdi-chevron-right
                li.page-item
                  a.page-link(href='#')
                    span
                      i.mdi.mdi-chevron-double-right

prod/gallery.html
<!DOCTYPE html>
<html lang="ru">

<head>
	<meta charset="UTF-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="viewport" content="width=device-width, initial-scale=1, minimum-scale=1, shrink-to-fit=no">
	<meta name="description" content="">
	<meta name="keywords" content="">
	<link rel="shortcut icon" type="image/x-icon" href="img/global/favicon.ico">
	<link rel="apple-touch-icon" href="img/global/favicon.ico">
	<title>Test</title>
	<link rel="stylesheet" type="text/css" href="css/bootstrap.min.css">
	<link rel="stylesheet" type="text/css" href="css/preloader.css">
	<link rel="stylesheet" type="text/css" href="css/fonts.css">
	<link rel="stylesheet" type="text/css" href="css/main.css">
	<link rel="stylesheet" type="text/css" href="css/jquery.fancybox.min.css">
</head>

<body>
	<div id="preloader">
		<div class="preload-wrap">
			<div class="obj obj-1"></div>
			<div class="obj obj-2"></div>
			<div class="obj obj-3"></div>
			<div class="obj obj-4"></div>
		</div>
	</div>
	<header>
		<div class="container">
			<div class="row justify-content-between">
				<div class="col-auto">
					<div class="header-logo">
						<a class="header-logo-link" href="index.html"></a>
					</div>
				</div>
				<div class="col-auto">
					<div class="header-menu-btn"><span class="icon-bar"></span><span class="icon-bar"></span><span class="icon-bar"></span><span class="icon-bar"></span>
					</div>
				</div>
			</div>
			<div class="header-menu">
				<div class="overlay"></div>
				<div class="menu-wrap">
					<div class="menu-inner" id="header-scroll">
						<div class="menu-links-wrap">
							<div class="menu-links"><a class="menu-link" href="index.html">Главная</a>
							</div>
							<div class="menu-links">
								<div class="menu-cat">Стили</div><a class="menu-link" href="style.html">Скандинавский стиль</a><a class="menu-link" href="style.html">Классический стиль</a><a class="menu-link" href="style.html">Эко-стиль</a>
							</div>
							<div class="menu-links">
								<div class="menu-cat">Стоимость</div><a class="menu-link" href="calc.html">Калькулятор</a>
							</div>
							<div class="menu-links">
								<div class="menu-cat">О нас</div><a class="menu-link" href="principles.html">Принципы работы</a><a class="menu-link" href="contacts.html">Контакты</a><a class="menu-link" href="faq.html">Частые вопросы</a><a class="menu-link" href="gallery.html">Фотогалерея</a><a class="menu-link"
								href="blog.html">Блог</a>
							</div>
						</div>
						<div class="social-links-wrap">
							<div class="social-links">
								<div class="social-icon"><i class="mdi mdi-phone-in-talk"></i>
								</div><a class="social-link" href="tel:89991645421">+7 (999) 164-54-21</a>
							</div>
							<div class="social-links">
								<div class="social-icon"><i class="mdi mdi-email-outline"></i>
								</div><a class="social-link" href="mailto:info@info.ru">info@info.ru</a>
							</div>
							<div class="social-links-services"><a class="link" href="#"><i class="mdi mdi-vk"></i></a><a class="link" href="#"><i class="mdi mdi-pinterest"></i></a><a class="link" href="#"><i class="mdi mdi-instagram"></i></a><a class="link" href="#"><i class="mdi mdi-facebook"></i></a><a class="link"
								href="#"><i class="mdi mdi-youtube-play"></i></a>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</header>
	<main class="page-gallery">
		<section class="breadcrumb-block">
			<div class="container">
				<div class="row">
					<div class="col">
						<nav class="breadcrumb-wrap">
							<ol class="breadcrumb">
								<li class="breadcrumb-item"><a href="#">Главная</a>
								</li>
								<li class="breadcrumb-item active">Галерея</li>
							</ol>
						</nav>
					</div>
				</div>
			</div>
		</section>
		<section class="gallery-block">
			<div class="container">
				<div class="row">
					<div class="col">
						<div class="block-title">Галерея</div>
					</div>
				</div>
				<div class="row">
					<div class="col">
						<div class="gallery-desc">
							<p>
								Lorem ipsum dolor sit amet, consectetur adipisicing elit. Alias aliquid beatae ea enim, error et in laudantium praesentium repudiandae sed! Dolorum, facere, molestias. A cupiditate ducimus porro reiciendis saepe totam?
							</p>
						</div>
					</div>
				</div>
				<div class="row grid">
					<div class="col-lg-3 col-md-4 col-sm-6 col-12 item-grid grid-sizer">
						<a class="gallery-img-link" href="img/pics/apartment_1.jpg" data-fancybox="images">
							<img class="gallery-img" src="img/pics/apartment_1.jpg">
						</a>
					</div>
					<div class="col-lg-3 col-md-4 col-sm-6 col-12 item-grid">
						<a class="gallery-img-link" href="img/pics/apartment_2.jpg" data-fancybox="images">
							<img class="gallery-img" src="img/pics/apartment_2.jpg">
						</a>
					</div>
					<div class="col-lg-3 col-md-4 col-sm-6 col-12 item-grid">
						<a class="gallery-img-link" href="img/pics/apartment_3.jpg" data-fancybox="images">
							<img class="gallery-img" src="img/pics/apartment_3.jpg">
						</a>
					</div>
					<div class="col-lg-3 col-md-4 col-sm-6 col-12 item-grid">
						<a class="gallery-img-link" href="img/pics/apartment_4.jpg" data-fancybox="images">
							<img class="gallery-img" src="img/pics/apartment_4.jpg">
						</a>
					</div>
					<div class="col-lg-3 col-md-4 col-sm-6 col-12 item-grid">
						<a class="gallery-img-link" href="img/pics/img_1.jpg" data-fancybox="images">
							<img class="gallery-img" src="img/pics/img_1.jpg">
						</a>
					</div>
					<div class="col-lg-3 col-md-4 col-sm-6 col-12 item-grid">
						<a class="gallery-img-link" href="img/pics/img_2.jpg" data-fancybox="images">
							<img class="gallery-img" src="img/pics/img_2.jpg">
						</a>
					</div>
					<div class="col-lg-3 col-md-4 col-sm-6 col-12 item-grid">
						<a class="gallery-img-link" href="img/pics/img_3.jpg" data-fancybox="images">
							<img class="gallery-img" src="img/pics/img_3.jpg">
						</a>
					</div>
					<div class="col-lg-3 col-md-4 col-sm-6 col-12 item-grid">
						<a class="gallery-img-link" href="img/pics/bg.jpg" data-fancybox="images">
							<img class="gallery-img" src="img/pics/bg.jpg">
						</a>
					</div>
					<div class="col-lg-3 col-md-4 col-sm-6 col-12 item-grid">
						<a class="gallery-img-link" href="img/pics/apartment_4.jpg" data-fancybox="images">
							<img class="gallery-img" src="img/pics/apartment_4.jpg">
						</a>
					</div>
				</div>
			</div>
		</section>
		<section class="pagination-block">
			<div class="container">
				<div class="row">
					<div class="col">
						<nav class="pagination-wrap">
							<ul class="pagination">
								<li class="page-item disabled"><a class="page-link" href="#"><span><i class="mdi mdi-chevron-double-left"></i></span></a>
								</li>
								<li class="page-item disabled"><a class="page-link" href="#"><span><i class="mdi mdi-chevron-left"></i></span></a>
								</li>
								<li class="page-item active"><a class="page-link" href="#">1</a>
								</li>
								<li class="page-item"><a class="page-link" href="#">2</a>
								</li>
								<li class="page-item disabled"><a class="page-link" href="#">...</a>
								</li>
								<li class="page-item"><a class="page-link" href="#">99</a>
								</li>
								<li class="page-item"><a class="page-link" href="#"><span><i class="mdi mdi-chevron-right"></i></span></a>
								</li>
								<li class="page-item"><a class="page-link" href="#"><span><i class="mdi mdi-chevron-double-right"></i></span></a>
								</li>
							</ul>
						</nav>
					</div>
				</div>
			</div>
		</section>
	</main>
	<footer>
		<div class="container">
			<div class="row">
				<div class="col-lg-3 col-12">
					<div class="footer-logo">
						<a class="footer-logo-link" href="index.html">
							<img src="img/pics/Logo_white.png">
						</a>
					</div>
					<div class="footer-about">Занимайтесь любыми делами,
						<br>а ремонт мы возьмём на себя.</div>
				</div>
				<div class="col-lg-2 col-md-3 col-sm-6">
					<div class="footer-links">
						<div class="footer-links-header">Стили</div><a class="footer-link" href="#">Скандинавский стиль</a><a class="footer-link" href="#">Классический стиль</a><a class="footer-link" href="#">Эко-стиль</a>
					</div>
				</div>
				<div class="col-lg-2 col-md-3 col-sm-6">
					<div class="footer-links">
						<div class="footer-links-header">О нас</div><a class="footer-link" href="#">Принципы работы</a><a class="footer-link" href="#">Контакты</a><a class="footer-link" href="#">Частые вопросы</a><a class="footer-link" href="#">Фотогалерея</a><a class="footer-link" href="#">Блог</a>
					</div>
				</div>
				<div class="col-lg-2 col-md-2 col-sm-6">
					<div class="footer-links">
						<div class="footer-links-header">Стоимость</div><a class="footer-link" href="#">Калькулятор</a>
					</div>
				</div>
				<div class="col-lg-3 col-md-4 col-sm-6">
					<div class="footer-social">
						<div class="social-wrap">
							<div class="social-icon"><i class="mdi mdi-forum-outline"></i>
							</div><a class="social-link" href="tel:89991645421">+7 (999) 164-54-21</a>
						</div>
						<div class="social-wrap">
							<div class="social-icon"><i class="mdi mdi-email-outline"></i>
							</div><a class="social-link" href="mailto:info@info.ru">info@info.ru</a>
						</div>
						<div class="social-wrap">
							<div class="social-icon"><i class="mdi mdi-map-marker"></i>
							</div>
							<div class="social-link">Нижний Новгород,
								<br>ул. Пушкина, д.666</div>
						</div>
						<div class="social-links"><a class="link" href="#"><i class="mdi mdi-vk"></i></a><a class="link" href="#"><i class="mdi mdi-pinterest"></i></a><a class="link" href="#"><i class="mdi mdi-instagram"></i></a><a class="link" href="#"><i class="mdi mdi-facebook"></i></a><a class="link"
							href="#"><i class="mdi mdi-youtube-play"></i></a>
						</div>
					</div>
				</div>
			</div>
		</div>
	</footer>
	<script type="text/javascript" src="js/jquery.min.js"></script>
	<script type="text/javascript" src="js/bootstrap.min.js"></script>
	<script type="text/javascript" src="js/imgLiquid-min.js"></script>
	<script type="text/javascript" src="js/perfect-scrollbar.min.js"></script>
	<script type="text/javascript" src="js/jquery.dotdotdot.js"></script>
	<script type="text/javascript" src="js/masonry.min.js"></script>
	<script type="text/javascript" src="js/jquery.fancybox.min.js"></script>
	<script type="text/javascript" src="js/main.js"></script>
	<script type="text/javascript" src="js/custom.js"></script>
</body>

</html>
