prod/pdf.html
<!DOCTYPE html>
<html lang="ru">

<head>
	<meta charset="UTF-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="viewport" content="width=device-width, initial-scale=1, minimum-scale=1, shrink-to-fit=no">
	<meta name="description" content="">
	<meta name="keywords" content="">
	<link rel="shortcut icon" type="image/x-icon" href="img/global/favicon.ico">
	<link rel="apple-touch-icon" href="img/global/favicon.ico">
	<title>Test</title>
	<link rel="stylesheet" type="text/css" href="css/fonts.css">
	<link rel="stylesheet" type="text/css" href="css/pdf.css">
</head>

<body>
	<main class="page-pdf">
		<section class="header">
			<div class="container-fluid">
				<div class="row justify-content-between">
					<div class="col-4">
						<div class="header-logo">
							<a class="header-logo-link" href="index.html">
								<img src="img/pics/logo_blue.svg">
							</a>
						</div>
					</div>
					<div class="col-3">
						<div class="header-tel"><a class="tel" href="tel:+7 (999) 164-54-21">+7 (999) 164-54-21</a>
						</div>
					</div>
				</div>
			</div>
		</section>
		<section class="content">
			<div class="container-fluid">
				<div class="row">
					<div class="col-12">
						<div class="content-title">Классический стиль</div>
					</div>
					<div class="col-12">
						<div class="content-wrap">
							<div class="option-list">
								<div class="option-row"><span class="option-name">Стены</span><span class="option-text">Слоновая кость</span>
								</div>
								<div class="option-row"><span class="option-name">Материал пола</span><span class="option-text">Паркетная доска</span>
								</div>
								<div class="option-row"><span class="option-name">Пол</span><span class="option-text">Светлое дерево</span>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</section>
		<section class="content">
			<div class="container-fluid">
				<div class="row">
					<div class="col-12">
						<div class="content-title">Параметры квартиры</div>
					</div>
					<div class="col-12">
						<div class="content-wrap">
							<ul class="option-list">
								<li><span class="option-name">Площадь квартиры</span><span class="option-area">30</span>
								</li>
								<li><span class="option-name">Количество комнат</span><span class="option-text">2</span>
								</li>
							</ul>
						</div>
					</div>
				</div>
			</div>
		</section>
		<section class="content">
			<div class="container-fluid">
				<div class="row">
					<div class="col-12">
						<div class="content-title">Базовая отделка включает:</div>
					</div>
					<div class="col-12">
						<div class="content-base">
							<div class="text"><i class="cr-icon mdi mdi-check"></i>Дизайн‐проект (альбом рабочих чертежей)</div>
							<div class="text"><i class="cr-icon mdi mdi-check"></i>Строительные работы и материалы</div>
							<div class="text"><i class="cr-icon mdi mdi-check"></i>Окраска стен</div>
							<div class="text"><i class="cr-icon mdi mdi-check"></i>Межкомнатные двери и плинтус</div>
							<div class="text"><i class="cr-icon mdi mdi-check"></i>Сантехника + зеркало с подсветкой</div>
							<div class="text"><i class="cr-icon mdi mdi-check"></i>Напольное покрытие</div>
							<div class="text"><i class="cr-icon mdi mdi-check"></i>Электрофурнитура</div>
							<div class="text"><i class="cr-icon mdi mdi-check"></i>Керамогранит и керамическая плитка в санузлах</div>
							<div class="text"><i class="cr-icon mdi mdi-check"></i>Натяжные потолки в санузлах</div>
							<div class="text"><i class="cr-icon mdi mdi-check"></i>Вывоз мусора</div>
							<div class="text"><i class="cr-icon mdi mdi-check"></i>Шпатлевка, грунтовка и окраска потолков в жилых помещениях</div>
							<div class="text"><i class="cr-icon mdi mdi-check"></i>Клининг</div>
						</div>
					</div>
				</div>
			</div>
		</section>
		<section class="content">
			<div class="container-fluid">
				<div class="row">
					<div class="col-12">
						<div class="content-title">Капитальный ремонт</div>
					</div>
					<div class="col-12">
						<div class="content-wrap">
							<ul class="option-list">
								<li><span class="option-name">Разводка электропроводки</span><span class="option-price">96600</span>
								</li>
								<li><span class="option-name">Возведение внутренних перегородок</span><span class="option-price">73600</span>
								</li>
							</ul>
						</div>
					</div>
				</div>
			</div>
		</section>
		<section class="content">
			<div class="container-fluid">
				<div class="row">
					<div class="col-12">
						<div class="content-title">Дополнительные опции</div>
					</div>
					<div class="col-12">
						<div class="content-wrap">
							<ul class="option-list">
								<li><span class="option-name">Теплый пол (одно помещение)</span><span class="option-counter">3</span><span class="option-price">11660</span>
								</li>
								<li><span class="option-name">Возведение внутренних перегородок</span><span class="option-price">73600</span>
								</li>
							</ul>
						</div>
					</div>
				</div>
			</div>
		</section>
		<section class="content">
			<div class="container-fluid">
				<div class="row">
					<div class="col-12">
						<div class="content-title">Замена окон</div>
					</div>
					<div class="col-12">
						<div class="content-wrap">
							<ul class="option-list">
								<li><span class="option-name">одностворчатое окно</span><span class="option-counter">3</span><span class="option-price">11660</span>
								</li>
								<li><span class="option-name">эркер, пятистворчатое окно</span><span class="option-price">73600</span>
								</li>
							</ul>
						</div>
					</div>
				</div>
			</div>
		</section>
		<section class="divider">
			<hr>
		</section>
		<section class="result">
			<div class="container-fluid">
				<div class="row">
					<div class="col-12">
						<div class="content-wrap">
							<ul class="option-list">
								<li><span class="option-name">Базовая стоимотсь ремонта</span><span class="option-price">99912321</span>
								</li>
								<li><span class="option-name">Стоимость дополнительных опций</span><span class="option-price">7123212321</span>
								</li>
								<li><span class="option-name res">Итоговая стоимость ремонта</span><span class="option-price res">71232123212</span>
								</li>
							</ul>
						</div>
					</div>
				</div>
			</div>
		</section>
	</main>
	<script type="text/javascript" src="js/main.js"></script>
	<script type="text/javascript" src="js/custom.js"></script>
</body>

</html>

src/pug/pdf.pug
extends components/layout

block head
  meta(charset='UTF-8')
  meta(http-equiv='X-UA-Compatible', content='IE=edge')
  meta(name='viewport', content='width=device-width, initial-scale=1, minimum-scale=1, shrink-to-fit=no')
  meta(name='description', content='')
  meta(name='keywords', content='')
  link(rel='shortcut icon', type='image/x-icon', href='img/global/favicon.ico')
  link(rel='apple-touch-icon', href='img/global/favicon.ico')

  //- Site Title
  title Test

  //- CSS
  link(rel='stylesheet', type='text/css', href='css/fonts.css')
  link(rel='stylesheet', type='text/css', href='css/pdf.css')

block scripts

block preloader

block header

block footer

block content
  main.page-pdf

    section.header
      .container-fluid
        .row.justify-content-between
          .col-4
            .header-logo
              a.header-logo-link(href="index.html")
                img(src="img/pics/logo_blue.svg")
          .col-3
            .header-tel
              a.tel(href="tel:+7 (999) 164-54-21") +7 (999) 164-54-21

    section.content
      .container-fluid
        .row
          .col-12
            .content-title
              | Классический стиль
          .col-12
            .content-wrap
              .option-list
                .option-row
                  span.option-name
                    | Стены
                  span.option-text
                    | Слоновая кость
                .option-row
                  span.option-name
                    | Материал пола
                  span.option-text
                    | Паркетная доска
                .option-row
                  span.option-name
                    | Пол
                  span.option-text
                    | Светлое дерево

    section.content
      .container-fluid
        .row
          .col-12
            .content-title
              | Параметры квартиры
          .col-12
            .content-wrap
              ul.option-list
                li
                  span.option-name
                    | Площадь квартиры
                  span.option-area
                    | 30
                li
                  span.option-name
                    | Количество комнат
                  span.option-text
                    | 2

    section.content
      .container-fluid
        .row
          .col-12
            .content-title
              | Базовая отделка включает:
          .col-12
            .content-base
              .text
                i.cr-icon.mdi.mdi-check
                | Дизайн‐проект (альбом рабочих чертежей)
              .text
                i.cr-icon.mdi.mdi-check
                | Строительные работы и материалы
              .text
                i.cr-icon.mdi.mdi-check
                | Окраска стен
              .text
                i.cr-icon.mdi.mdi-check
                | Межкомнатные двери и плинтус
              .text
                i.cr-icon.mdi.mdi-check
                | Сантехника + зеркало с подсветкой
              .text
                i.cr-icon.mdi.mdi-check
                | Напольное покрытие
              .text
                i.cr-icon.mdi.mdi-check
                | Электрофурнитура
              .text
                i.cr-icon.mdi.mdi-check
                | Керамогранит и керамическая плитка в санузлах
              .text
                i.cr-icon.mdi.mdi-check
                | Натяжные потолки в санузлах
              .text
                i.cr-icon.mdi.mdi-check
                | Вывоз мусора
              .text
                i.cr-icon.mdi.mdi-check
                | Шпатлевка, грунтовка и окраска потолков в жилых помещениях
              .text
                i.cr-icon.mdi.mdi-check
                | Клининг

    section.content
      .container-fluid
        .row
          .col-12
            .content-title
              | Капитальный ремонт
          .col-12
            .content-wrap
              ul.option-list
                li
                  span.option-name
                    | Разводка электропроводки
                  span.option-price
                    | 96600
                li
                  span.option-name
                    | Возведение внутренних перегородок
                  span.option-price
                    | 73600

    section.content
      .container-fluid
        .row
          .col-12
            .content-title
              | Дополнительные опции
          .col-12
            .content-wrap
              ul.option-list
                li
                  span.option-name
                    | Теплый пол (одно помещение)
                  span.option-counter
                    | 3
                  span.option-price
                    | 11660
                li
                  span.option-name
                    | Возведение внутренних перегородок
                  span.option-price
                    | 73600

    section.content
      .container-fluid
        .row
          .col-12
            .content-title
              | Замена окон
          .col-12
            .content-wrap
              ul.option-list
                li
                  span.option-name
                    | одностворчатое окно
                  span.option-counter
                    | 3
                  span.option-price
                    | 11660
                li
                  span.option-name
                    | эркер, пятистворчатое окно
                  span.option-price
                    | 73600

    section.divider
      hr

    section.result
      .container-fluid
        .row
          .col-12
            .content-wrap
              ul.option-list
                li
                  span.option-name
                    | Базовая стоимотсь ремонта
                  span.option-price
                    | 99912321
                li
                  span.option-name
                    | Стоимость дополнительных опций
                  span.option-price
                    | 7123212321
                li
                  span.option-name.res
                    | Итоговая стоимость ремонта
                  span.option-price.res
                    | 71232123212
