src/pug/style.pug
extends components/layout

append head
  link(rel='stylesheet', type='text/css', href='css/jquery.bootstrap-touchspin.min.css')
append scripts
  script(type='text/javascript', src='js/jquery.bootstrap-touchspin.min.js')

block content
  main.page-style

    section.intro-block
      .container-fluid
        .row
          .col-md-4.col-12
            a.intro-link.active(href="#")
            .block-bg
              .shadow-bg
              img(src="img/pics/bg_1.jpg")
            .intro-wrap.d-flex.align-items-end
              .intro-text
                .title
                  | Скандинавский
                .text
                  | Сдержанный и лаконичный
          .col-md-4.col-12
            a.intro-link(href="#")
            .block-bg
              .shadow-bg
              img(src="img/pics/bg_2.jpg")
            .intro-wrap.d-flex.align-items-end
              .intro-text
                .title
                  | Эко стиль
                .text
                  | Сдержанный и лаконичный
          .col-md-4.col-12
            a.intro-link(href="#")
            .block-bg
              .shadow-bg
              img(src="img/pics/bg_3.jpg")
            .intro-wrap.d-flex.align-items-end
              .intro-text
                .title
                  | Классический
                .text
                  | Сдержанный и лаконичный

    section.blog-block
      .container
        .row
          .col
            .block-title
              | Отделочные материалы
        .row.justify-content-center
          .col-xl-10
            .row
              .col-md-6
                .block-title-text
                  | Lorem ipsum dolor sit amet, consectetur adipisicing elit. Architecto beatae debitis deserunt, facilis neque obcaecati repellat vel voluptas. Atque aut consequatur deleniti dignissimos nulla qui quibusdam quidem, rem soluta ut.
              .col-md-6
                .block-title-text
                  | Lorem ipsum dolor sit amet, consectetur adipisicing elit. Architecto beatae debitis deserunt, facilis neque obcaecati repellat vel voluptas. Atque aut consequatur deleniti dignissimos nulla qui quibusdam quidem, rem soluta ut.
                  | Lorem ipsum dolor sit amet, consectetur adipisicing elit. Architecto beatae debitis deserunt, facilis neque obcaecati repellat vel voluptas. Atque aut consequatur deleniti dignissimos nulla qui quibusdam quidem, rem soluta ut.
        .row
          .col
            .block-title-pic.img-wrap
              img(src="img/pics/img_1.jpg")
        .row.blog-row
          .col-xl-6.col-lg-4.col-md-5.col-12.order-1
            .blog-desc
              .desc-title.col-xl-10.offset-xl-2
                | Заголовок 1
              .desc-text.col-xl-10.offset-xl-2
                | Lorem ipsum dolor sit amet, consectetur adipisicing elit. Consequuntur eius eum in modi mollitia neque repellat repellendus sapiente? Consectetur cum eum facere fuga nobis non similique voluptatem. Fuga minima, reprehenderit!
          .col-xl-6.col-lg-8.col-md-7.col-12.order-2
            .blog-pic
              .img-wrap
                img(src="img/pics/apartment_2.jpg", alt="")
        .row.blog-row
          .col-xl-6.col-lg-8.col-md-7.col-12.order-md-1.order-2
            .blog-pic
              .img-wrap
                img(src="img/pics/apartment_2.jpg", alt="")
          .col-xl-6.col-lg-4.col-md-5.col-12.order-md-2.order-1
            .blog-desc
              .desc-title.col-xl-10
                | Заголовок 2
              .desc-text.col-xl-10
                | Lorem ipsum dolor sit amet, consectetur adipisicing elit. Consequuntur eius eum in modi mollitia neque repellat repellendus sapiente? Consectetur cum eum facere fuga nobis non similique voluptatem. Fuga minima, reprehenderit!
              .col
                .btn.blue-border Подробнее

    section.dop-block
      .container
        .row
          .col
            .block-title
              | Дополнительные операции
        .row
          .col-lg-6
            .dop-pic.pic-1.img-wrap
              img(src="img/pics/options_1.jpg")
          .col-lg-6
            .row
              .col-sm-6
                .dop-pic.pic-2.img-wrap
                  img(src="img/pics/options_2.jpg")
              .col-sm-6
                .dop-pic.pic-3.img-wrap
                  img(src="img/pics/options_3.jpg")
            .row
              .col-12
                .dop-pic.pic-4.img-wrap
                  img(src="img/pics/options_4.jpg")

    section.metric-block
      .container
        .row
          .col
            .block-title
              | Метрики
            .block-title-text
              | Мы создали инструмент для точечного расчета стоимости вашего индивидуального ремонта. Составить четкую смету легко!
        form
          .row
            .col-xl-4.col-lg-4.col-md-7
              .touchspin-wrap
                input(type="text", value="", name="num_1", readonly)
              .touchspin-text
                | площадь квартиры, м²
            .col-xl-2.col-lg-3.col-md-5
              .touchspin-wrap.short
                input(type="text", value="", name="num_2", readonly)
              .touchspin-text
                | количество комнат
              .touchspin-other
                .checkbox.text-center
                  label
                    input(type="checkbox", value)
                    span.cr
                      i.cr-icon.mdi.mdi-check
                    | Стулья
            .col-xl-6.col-lg-5.col-12
              .metric-text
                | Lorem ipsum dolor sit amet, consectetur adipisicing elit. Consectetur corporis fugiat ipsam magni necessitatibus nisi optio quas qui rerum sunt? Est mollitia quae quas? Error expedita harum ipsam nisi quam.
              a.btn.blue-border(href="#") Рассчитать

prod/style.html
<!DOCTYPE html>
<html lang="ru">

<head>
	<meta charset="UTF-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="viewport" content="width=device-width, initial-scale=1, minimum-scale=1, shrink-to-fit=no">
	<meta name="description" content="">
	<meta name="keywords" content="">
	<link rel="shortcut icon" type="image/x-icon" href="img/global/favicon.ico">
	<link rel="apple-touch-icon" href="img/global/favicon.ico">
	<title>Test</title>
	<link rel="stylesheet" type="text/css" href="css/bootstrap.min.css">
	<link rel="stylesheet" type="text/css" href="css/preloader.css">
	<link rel="stylesheet" type="text/css" href="css/fonts.css">
	<link rel="stylesheet" type="text/css" href="css/main.css">
	<link rel="stylesheet" type="text/css" href="css/jquery.bootstrap-touchspin.min.css">
</head>

<body>
	<div id="preloader">
		<div class="preload-wrap">
			<div class="obj obj-1"></div>
			<div class="obj obj-2"></div>
			<div class="obj obj-3"></div>
			<div class="obj obj-4"></div>
		</div>
	</div>
	<header>
		<div class="container">
			<div class="row justify-content-between">
				<div class="col-auto">
					<div class="header-logo">
						<a class="header-logo-link" href="index.html"></a>
					</div>
				</div>
				<div class="col-auto">
					<div class="header-menu-btn"><span class="icon-bar"></span><span class="icon-bar"></span><span class="icon-bar"></span><span class="icon-bar"></span>
					</div>
				</div>
			</div>
			<div class="header-menu">
				<div class="overlay"></div>
				<div class="menu-wrap">
					<div class="menu-inner" id="header-scroll">
						<div class="menu-links-wrap">
							<div class="menu-links"><a class="menu-link" href="index.html">Главная</a>
							</div>
							<div class="menu-links">
								<div class="menu-cat">Стили</div><a class="menu-link" href="style.html">Скандинавский стиль</a><a class="menu-link" href="style.html">Классический стиль</a><a class="menu-link" href="style.html">Эко-стиль</a>
							</div>
							<div class="menu-links">
								<div class="menu-cat">Стоимость</div><a class="menu-link" href="calc.html">Калькулятор</a>
							</div>
							<div class="menu-links">
								<div class="menu-cat">О нас</div><a class="menu-link" href="principles.html">Принципы работы</a><a class="menu-link" href="contacts.html">Контакты</a><a class="menu-link" href="faq.html">Частые вопросы</a><a class="menu-link" href="gallery.html">Фотогалерея</a><a class="menu-link"
								href="blog.html">Блог</a>
							</div>
						</div>
						<div class="social-links-wrap">
							<div class="social-links">
								<div class="social-icon"><i class="mdi mdi-phone-in-talk"></i>
								</div><a class="social-link" href="tel:89991645421">+7 (999) 164-54-21</a>
							</div>
							<div class="social-links">
								<div class="social-icon"><i class="mdi mdi-email-outline"></i>
								</div><a class="social-link" href="mailto:info@info.ru">info@info.ru</a>
							</div>
							<div class="social-links-services"><a class="link" href="#"><i class="mdi mdi-vk"></i></a><a class="link" href="#"><i class="mdi mdi-pinterest"></i></a><a class="link" href="#"><i class="mdi mdi-instagram"></i></a><a class="link" href="#"><i class="mdi mdi-facebook"></i></a><a class="link"
								href="#"><i class="mdi mdi-youtube-play"></i></a>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</header>
	<main class="page-style">
		<section class="intro-block">
			<div class="container-fluid">
				<div class="row">
					<div class="col-md-4 col-12">
						<a class="intro-link active" href="#"></a>
						<div class="block-bg">
							<div class="shadow-bg"></div>
							<img src="img/pics/bg_1.jpg">
						</div>
						<div class="intro-wrap d-flex align-items-end">
							<div class="intro-text">
								<div class="title">Скандинавский</div>
								<div class="text">Сдержанный и лаконичный</div>
							</div>
						</div>
					</div>
					<div class="col-md-4 col-12">
						<a class="intro-link" href="#"></a>
						<div class="block-bg">
							<div class="shadow-bg"></div>
							<img src="img/pics/bg_2.jpg">
						</div>
						<div class="intro-wrap d-flex align-items-end">
							<div class="intro-text">
								<div class="title">Эко стиль</div>
								<div class="text">Сдержанный и лаконичный</div>
							</div>
						</div>
					</div>
					<div class="col-md-4 col-12">
						<a class="intro-link" href="#"></a>
						<div class="block-bg">
							<div class="shadow-bg"></div>
							<img src="img/pics/bg_3.jpg">
						</div>
						<div class="intro-wrap d-flex align-items-end">
							<div class="intro-text">
								<div class="title">Классический</div>
								<div class="text">Сдержанный и лаконичный</div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</section>
		<section class="blog-block">
			<div class="container">
				<div class="row">
					<div class="col">
						<div class="block-title">Отделочные материалы</div>
					</div>
				</div>
				<div class="row justify-content-center">
					<div class="col-xl-10">
						<div class="row">
							<div class="col-md-6">
								<div class="block-title-text">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Architecto beatae debitis deserunt, facilis neque obcaecati repellat vel voluptas. Atque aut consequatur deleniti dignissimos nulla qui quibusdam quidem, rem soluta ut.</div>
							</div>
							<div class="col-md-6">
								<div class="block-title-text">
									Lorem ipsum dolor sit amet, consectetur adipisicing elit. Architecto beatae debitis deserunt, facilis neque obcaecati repellat vel voluptas. Atque aut consequatur deleniti dignissimos nulla qui quibusdam quidem, rem soluta ut. Lorem ipsum dolor sit amet,
									consectetur adipisicing elit. Architecto beatae debitis deserunt, facilis neque obcaecati repellat vel voluptas. Atque aut consequatur deleniti dignissimos nulla qui quibusdam quidem, rem soluta ut.
								</div>
							</div>
						</div>
					</div>
				</div>
				<div class="row">
					<div class="col">
						<div class="block-title-pic img-wrap">
							<img src="img/pics/img_1.jpg">
						</div>
					</div>
				</div>
				<div class="row blog-row">
					<div class="col-xl-6 col-lg-4 col-md-5 col-12 order-1">
						<div class="blog-desc">
							<div class="desc-title col-xl-10 offset-xl-2">Заголовок 1</div>
							<div class="desc-text col-xl-10 offset-xl-2">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Consequuntur eius eum in modi mollitia neque repellat repellendus sapiente? Consectetur cum eum facere fuga nobis non similique voluptatem. Fuga minima, reprehenderit!</div>
						</div>
					</div>
					<div class="col-xl-6 col-lg-8 col-md-7 col-12 order-2">
						<div class="blog-pic">
							<div class="img-wrap">
								<img src="img/pics/apartment_2.jpg" alt="">
							</div>
						</div>
					</div>
				</div>
				<div class="row blog-row">
					<div class="col-xl-6 col-lg-8 col-md-7 col-12 order-md-1 order-2">
						<div class="blog-pic">
							<div class="img-wrap">
								<img src="img/pics/apartment_2.jpg" alt="">
							</div>
						</div>
					</div>
					<div class="col-xl-6 col-lg-4 col-md-5 col-12 order-md-2 order-1">
						<div class="blog-desc">
							<div class="desc-title col-xl-10">Заголовок 2</div>
							<div class="desc-text col-xl-10">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Consequuntur eius eum in modi mollitia neque repellat repellendus sapiente? Consectetur cum eum facere fuga nobis non similique voluptatem. Fuga minima, reprehenderit!</div>
							<div class="col">
								<div class="btn blue-border">Подробнее</div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</section>
		<section class="dop-block">
			<div class="container">
				<div class="row">
					<div class="col">
						<div class="block-title">Дополнительные операции</div>
					</div>
				</div>
				<div class="row">
					<div class="col-lg-6">
						<div class="dop-pic pic-1 img-wrap">
							<img src="img/pics/options_1.jpg">
						</div>
					</div>
					<div class="col-lg-6">
						<div class="row">
							<div class="col-sm-6">
								<div class="dop-pic pic-2 img-wrap">
									<img src="img/pics/options_2.jpg">
								</div>
							</div>
							<div class="col-sm-6">
								<div class="dop-pic pic-3 img-wrap">
									<img src="img/pics/options_3.jpg">
								</div>
							</div>
						</div>
						<div class="row">
							<div class="col-12">
								<div class="dop-pic pic-4 img-wrap">
									<img src="img/pics/options_4.jpg">
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</section>
		<section class="metric-block">
			<div class="container">
				<div class="row">
					<div class="col">
						<div class="block-title">Метрики</div>
						<div class="block-title-text">Мы создали инструмент для точечного расчета стоимости вашего индивидуального ремонта. Составить четкую смету легко!</div>
					</div>
				</div>
				<form>
					<div class="row">
						<div class="col-xl-4 col-lg-4 col-md-7">
							<div class="touchspin-wrap">
								<input type="text" value="" name="num_1" readonly>
							</div>
							<div class="touchspin-text">площадь квартиры, м²</div>
						</div>
						<div class="col-xl-2 col-lg-3 col-md-5">
							<div class="touchspin-wrap short">
								<input type="text" value="" name="num_2" readonly>
							</div>
							<div class="touchspin-text">количество комнат</div>
							<div class="touchspin-other">
								<div class="checkbox text-center">
									<label>
										<input type="checkbox" value><span class="cr"><i class="cr-icon mdi mdi-check"></i></span>Стулья
									</label>
								</div>
							</div>
						</div>
						<div class="col-xl-6 col-lg-5 col-12">
							<div class="metric-text">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Consectetur corporis fugiat ipsam magni necessitatibus nisi optio quas qui rerum sunt? Est mollitia quae quas? Error expedita harum ipsam nisi quam.</div><a class="btn blue-border" href="#">Рассчитать</a>
						</div>
					</div>
				</form>
			</div>
		</section>
	</main>
	<footer>
		<div class="container">
			<div class="row">
				<div class="col-lg-3 col-12">
					<div class="footer-logo">
						<a class="footer-logo-link" href="index.html">
							<img src="img/pics/Logo_white.png">
						</a>
					</div>
					<div class="footer-about">Занимайтесь любыми делами,
						<br>а ремонт мы возьмём на себя.</div>
				</div>
				<div class="col-lg-2 col-md-3 col-sm-6">
					<div class="footer-links">
						<div class="footer-links-header">Стили</div><a class="footer-link" href="#">Скандинавский стиль</a><a class="footer-link" href="#">Классический стиль</a><a class="footer-link" href="#">Эко-стиль</a>
					</div>
				</div>
				<div class="col-lg-2 col-md-3 col-sm-6">
					<div class="footer-links">
						<div class="footer-links-header">О нас</div><a class="footer-link" href="#">Принципы работы</a><a class="footer-link" href="#">Контакты</a><a class="footer-link" href="#">Частые вопросы</a><a class="footer-link" href="#">Фотогалерея</a><a class="footer-link" href="#">Блог</a>
					</div>
				</div>
				<div class="col-lg-2 col-md-2 col-sm-6">
					<div class="footer-links">
						<div class="footer-links-header">Стоимость</div><a class="footer-link" href="#">Калькулятор</a>
					</div>
				</div>
				<div class="col-lg-3 col-md-4 col-sm-6">
					<div class="footer-social">
						<div class="social-wrap">
							<div class="social-icon"><i class="mdi mdi-forum-outline"></i>
							</div><a class="social-link" href="tel:89991645421">+7 (999) 164-54-21</a>
						</div>
						<div class="social-wrap">
							<div class="social-icon"><i class="mdi mdi-email-outline"></i>
							</div><a class="social-link" href="mailto:info@info.ru">info@info.ru</a>
						</div>
						<div class="social-wrap">
							<div class="social-icon"><i class="mdi mdi-map-marker"></i>
							</div>
							<div class="social-link">Нижний Новгород,
								<br>ул. Пушкина, д.666</div>
						</div>
						<div class="social-links"><a class="link" href="#"><i class="mdi mdi-vk"></i></a><a class="link" href="#"><i class="mdi mdi-pinterest"></i></a><a class="link" href="#"><i class="mdi mdi-instagram"></i></a><a class="link" href="#"><i class="mdi mdi-facebook"></i></a><a class="link"
							href="#"><i class="mdi mdi-youtube-play"></i></a>
						</div>
					</div>
				</div>
			</div>
		</div>
	</footer>
	<script type="text/javascript" src="js/jquery.min.js"></script>
	<script type="text/javascript" src="js/bootstrap.min.js"></script>
	<script type="text/javascript" src="js/imgLiquid-min.js"></script>
	<script type="text/javascript" src="js/perfect-scrollbar.min.js"></script>
	<script type="text/javascript" src="js/jquery.dotdotdot.js"></script>
	<script type="text/javascript" src="js/jquery.bootstrap-touchspin.min.js"></script>
	<script type="text/javascript" src="js/main.js"></script>
	<script type="text/javascript" src="js/custom.js"></script>
</body>

</html>
